:root {
  /* ui */
  --color-ui-01: #212529;

  /* text */
  --color-blue-01: #1f25c4;
  --color-black-01: #0a0c0d;
  --color-white-01: #ffffff;
  --color-gray-01: #ababab;
  --color-matrix-01: #157d00;
  --color-scrollbar-track: #ebebeb;
  --color-scrollbar-thumb: #888888;
  
}